<header class="page-header wrapper">
  <%= link_to "FASHION-ONE", root_path, id: "logo" %>
    <nav>
      <ul class="main-nav">
        <% if logged_in? %>
          <li class ="nav-like"><%= link_to "保存済み", root_path %></li>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">アカウント</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "設定", edit_user_path(current_user) %></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "保存済み", root_path %></li>
                <li><%= link_to "ログイン", login_path %></li>
                <li><%= link_to "会員登録", signup_path %></li>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </nav>
</header>

